@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1em; /* 16 px */
}
body {
  background-color: rgba(209, 213, 219);
  color: rgb(0, 0, 0);
  font-family: "Open Sans, sans-serif";
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 1em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1 {
  font-family: "Acme", sans-serif;
}
#app {
  background-color: rgba(209, 213, 219);
  min-height: 100vh;
  padding: 0.5em;
}
#detail {
  max-height: 80vh;
  min-height: 80vh;
  box-sizing: border-box;
  overflow: scroll;
}
#detail-card {
  max-height: 40vh;
}
#show-img {
  margin: auto;
  height: 20vh;
}
#city {
  max-height: 81vh;
  min-height: 81vh;
  box-sizing: border-box;
  overflow: scroll;
}
#post {
  min-height: 35vh;
  max-height: 40vh;
  max-width: 45vw;
  margin: 1rem;
  /* box-sizing: border-box; */
}
#icon {
  position: fixed;
  right: 10px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#post-form {
  position: absolute;
  border: black 5px solid;
  border-radius: 0.5em;
  padding: 2em;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  display: none;
}
#post-form-inner {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}
#show-post {
  min-height: 90vh;
  max-height: 95vh;
  overflow: hidden;
}
#comment-list {
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
}
#comment-img {
  width: 35%;
  margin: 0 auto;
}
.post-card,
.city-card {
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list-img {
  width: 100px;
}
.city-comp {
  min-width: 50%;
  min-height: 70vh;
}

.form {
  align-content: space-between;
}
.cursive {
  font-family: Amatic SC, cursive;
  font-weight: 700;
}
.logo {
  font-family: "Acme", sans-serif;
  border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
}
.link {
  font-family: Acme;
  height: 100%;
  padding: 0 2em;
  border-radius: 0.8em 0.8em 0 0;
  -webkit-border-radius: 0.8em 0.8em 0 0;
  -moz-border-radius: 0.8em 0.8em 0 0;
  -ms-border-radius: 0.8em 0.8em 0 0;
  -o-border-radius: 0.8em 0.8em 0 0;
}
.active-link {
  color: rgb(41, 40, 40) !important;
  font-weight: bold;
}
#home-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
#home-item-container {
  display: flex;
  margin: 2em;
  overflow: scroll;
}
.home-item {
  padding: 2em;
  line-height: 1.5em;
  border: double black 5px;
  margin: 1em;
}
.carousel img {
  height: 35vh;
}
.login {
  background: url("https://i.imgur.com/DnWDPMU.jpg");
  background-repeat: none;
  background-size: cover;
}
.leading-loose {
  margin-top: 15vh;
}
.loginform {
  border: 8px solid rgba(209, 213, 219);
  background-color: rgba(0, 0, 0, 0.5);
}
.signup {
  background: url("https://i.imgur.com/8sv58bi.jpg");
  background-repeat: none;
  background-size: cover;
}
.text-right {
  cursor: pointer;
}
#worldlogo {
  height: 60px;
  width: 62px;
  color: white;
}
